@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        font-family: Haettenschweiler, sans-serif;
    }

    .homepage {
        padding: 20px;
    }

    .welcome-message-section {
        background-color: #89CFF0;
        padding: 20px;
    }

    .welcome-message {
        font-family: cursive, sans-serif;
    }

    .image-section {
        margin-top: 20px;
    }

    .location-section {
        margin-top: 20px;
        font-size: 14px;
        font-family: Arial, sans-serif;
    }
</style>

<div class="text-center homepage">
    <div class="welcome-message-section">
        <h1 class="display-4 welcome-message">Welcome to Our Book Store</h1>
        <p>Explore our wide collection of books and find your next great read!</p>
    </div>

    <div class="image-section">
        <div class="image-section"> <img src="/bookStore/Views/Home/image/bookstore.png" alt="Bookstore"> </div>
    </div>

    <div class="location-section">
        <h2>Visit Us</h2>
        <p>Our bookstore is located at:</p>
        <address>
            Mulyosari Street<br>
            Surabaya, Indonesia<br>
            Postal Code
        </address>
    </div>
</div>
